{% extends "catalog/base.html" %}
{% block title %}<title>You've reached Local Library</title>{% endblock title %}
{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Joel Witherspoon</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

  <h2>Book counts per Genre</h2>
  <ul>
    <li><strong>Anthology</strong> {{ num_anthology }}</li>
    <li><strong>Satire</strong> {{ num_satire }}</li>
    <li><strong>Non-Fiction</strong> {{ num_nonfiction }}</li>
    <li><strong>Fiction</strong> {{ num_fiction }}</li>
    <li><strong>Fantasy</strong> {{ num_fantasy }}</li>
  </ul>



{% endblock %}